--
-- PostgreSQL database dump
--

\restrict 2Mp1GiRlAxpgoisXCJLrYJgy71N0t8uUSeGLyhswOjyVdvD9150vY8cOrTp6JGE

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: tryphene
--

CREATE TABLE public.audit_log (
    id bigint NOT NULL,
    actor_id uuid,
    entity_type text NOT NULL,
    entity_id text,
    action text NOT NULL,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_log OWNER TO tryphene;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: tryphene
--

CREATE SEQUENCE public.audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_log_id_seq OWNER TO tryphene;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tryphene
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: change_orders; Type: TABLE; Schema: public; Owner: tryphene
--

CREATE TABLE public.change_orders (
    id text NOT NULL,
    project_id text,
    proposal_id text,
    title text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    amount numeric(14,2) DEFAULT 0 NOT NULL,
    status text DEFAULT 'Draft'::text NOT NULL,
    decision_note text DEFAULT ''::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT change_orders_status_check CHECK ((status = ANY (ARRAY['Draft'::text, 'Submitted'::text, 'Approved'::text, 'Declined'::text])))
);


ALTER TABLE public.change_orders OWNER TO tryphene;

--
-- Name: closeout_records; Type: TABLE; Schema: public; Owner: tryphene
--

CREATE TABLE public.closeout_records (
    id text NOT NULL,
    project_id text,
    engagement_id text,
    status text DEFAULT 'Open'::text NOT NULL,
    acceptance jsonb DEFAULT '{}'::jsonb NOT NULL,
    outstanding jsonb DEFAULT '[]'::jsonb NOT NULL,
    outcomes jsonb DEFAULT '[]'::jsonb NOT NULL,
    lessons jsonb DEFAULT '[]'::jsonb NOT NULL,
    handover jsonb DEFAULT '{}'::jsonb NOT NULL,
    improvement jsonb DEFAULT '{}'::jsonb NOT NULL,
    archive jsonb DEFAULT '{}'::jsonb NOT NULL,
    activity jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT closeout_records_status_check CHECK ((status = ANY (ARRAY['Open'::text, 'Awaiting final acceptance'::text, 'Accepted'::text, 'Closed'::text])))
);


ALTER TABLE public.closeout_records OWNER TO tryphene;

--
-- Name: cms_documents; Type: TABLE; Schema: public; Owner: tryphene
--

CREATE TABLE public.cms_documents (
    key text NOT NULL,
    content jsonb NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    updated_by uuid,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.cms_documents OWNER TO tryphene;

--
-- Name: engagements; Type: TABLE; Schema: public; Owner: tryphene
--

CREATE TABLE public.engagements (
    id text NOT NULL,
    proposal_id text,
    project_id text,
    client text DEFAULT ''::text NOT NULL,
    status text DEFAULT 'Pending kickoff'::text NOT NULL,
    current_phase_id integer,
    owner_id uuid,
    kickoff jsonb DEFAULT '{}'::jsonb NOT NULL,
    phases jsonb DEFAULT '[]'::jsonb NOT NULL,
    next_action text DEFAULT ''::text NOT NULL,
    activity jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.engagements OWNER TO tryphene;

--
-- Name: governance_records; Type: TABLE; Schema: public; Owner: tryphene
--

CREATE TABLE public.governance_records (
    id text NOT NULL,
    project_id text,
    engagement_id text,
    documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    decisions jsonb DEFAULT '[]'::jsonb NOT NULL,
    change_requests jsonb DEFAULT '[]'::jsonb NOT NULL,
    meetings jsonb DEFAULT '[]'::jsonb NOT NULL,
    approvals jsonb DEFAULT '[]'::jsonb NOT NULL,
    activity jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.governance_records OWNER TO tryphene;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: tryphene
--

CREATE TABLE public.invoices (
    id text NOT NULL,
    number text NOT NULL,
    project_id text,
    proposal_id text,
    client text DEFAULT ''::text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    status text DEFAULT 'Draft'::text NOT NULL,
    amount numeric(14,2) DEFAULT 0 NOT NULL,
    paid numeric(14,2) DEFAULT 0 NOT NULL,
    due_date date,
    notes text DEFAULT ''::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT invoices_status_check CHECK ((status = ANY (ARRAY['Draft'::text, 'Issued'::text, 'Partially paid'::text, 'Paid'::text, 'Void'::text, 'Overdue'::text])))
);


ALTER TABLE public.invoices OWNER TO tryphene;

--
-- Name: leads; Type: TABLE; Schema: public; Owner: tryphene
--

CREATE TABLE public.leads (
    id text NOT NULL,
    organisation text DEFAULT ''::text NOT NULL,
    industry text DEFAULT ''::text NOT NULL,
    contact text DEFAULT ''::text NOT NULL,
    email text DEFAULT ''::text NOT NULL,
    phone text DEFAULT ''::text NOT NULL,
    stage text DEFAULT ''::text NOT NULL,
    budget text DEFAULT ''::text NOT NULL,
    timeline text DEFAULT ''::text NOT NULL,
    docs text DEFAULT ''::text NOT NULL,
    goal text DEFAULT ''::text NOT NULL,
    selected_phases jsonb DEFAULT '[]'::jsonb NOT NULL,
    score integer,
    route text DEFAULT 'Nurture / discovery'::text NOT NULL,
    status text DEFAULT 'New'::text NOT NULL,
    owner_id uuid,
    client_id uuid,
    notes text DEFAULT ''::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.leads OWNER TO tryphene;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: tryphene
--

CREATE TABLE public.payments (
    id text NOT NULL,
    invoice_id text,
    project_id text,
    amount numeric(14,2) DEFAULT 0 NOT NULL,
    paid_date date DEFAULT CURRENT_DATE NOT NULL,
    method text DEFAULT 'Bank transfer'::text NOT NULL,
    reference text DEFAULT ''::text NOT NULL,
    notes text DEFAULT ''::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payments OWNER TO tryphene;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: tryphene
--

CREATE TABLE public.projects (
    id text NOT NULL,
    lead_id text,
    client_id uuid,
    name text DEFAULT 'Your project'::text NOT NULL,
    stage text DEFAULT 'explore'::text NOT NULL,
    status text DEFAULT 'Exploring'::text NOT NULL,
    selected_phases jsonb DEFAULT '[]'::jsonb NOT NULL,
    qualification jsonb DEFAULT '{}'::jsonb NOT NULL,
    next_action text DEFAULT ''::text NOT NULL,
    checklist jsonb DEFAULT '{}'::jsonb NOT NULL,
    decisions jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.projects OWNER TO tryphene;

--
-- Name: proposals; Type: TABLE; Schema: public; Owner: tryphene
--

CREATE TABLE public.proposals (
    id text NOT NULL,
    number text NOT NULL,
    lead_id text,
    project_id text,
    client text DEFAULT ''::text NOT NULL,
    contact text DEFAULT ''::text NOT NULL,
    email text DEFAULT ''::text NOT NULL,
    goal text DEFAULT ''::text NOT NULL,
    status text DEFAULT 'Draft'::text NOT NULL,
    items jsonb DEFAULT '[]'::jsonb NOT NULL,
    subtotal numeric(14,2) DEFAULT 0 NOT NULL,
    discount numeric(14,2) DEFAULT 0 NOT NULL,
    total numeric(14,2) DEFAULT 0 NOT NULL,
    valid_days integer DEFAULT 14 NOT NULL,
    assumptions jsonb DEFAULT '[]'::jsonb NOT NULL,
    payment_terms text DEFAULT ''::text NOT NULL,
    notes text DEFAULT ''::text NOT NULL,
    approval jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT proposals_status_check CHECK ((status = ANY (ARRAY['Draft'::text, 'Sent'::text, 'Approved'::text, 'Declined'::text, 'Expired'::text])))
);


ALTER TABLE public.proposals OWNER TO tryphene;

--
-- Name: users; Type: TABLE; Schema: public; Owner: tryphene
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    name text NOT NULL,
    role text DEFAULT 'consultant'::text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT users_role_check CHECK ((role = ANY (ARRAY['admin'::text, 'consultant'::text, 'viewer'::text, 'client'::text])))
);


ALTER TABLE public.users OWNER TO tryphene;

--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: tryphene
--

COPY public.audit_log (id, actor_id, entity_type, entity_id, action, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: change_orders; Type: TABLE DATA; Schema: public; Owner: tryphene
--

COPY public.change_orders (id, project_id, proposal_id, title, description, amount, status, decision_note, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: closeout_records; Type: TABLE DATA; Schema: public; Owner: tryphene
--

COPY public.closeout_records (id, project_id, engagement_id, status, acceptance, outstanding, outcomes, lessons, handover, improvement, archive, activity, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: cms_documents; Type: TABLE DATA; Schema: public; Owner: tryphene
--

COPY public.cms_documents (key, content, version, updated_by, updated_at) FROM stdin;
\.


--
-- Data for Name: engagements; Type: TABLE DATA; Schema: public; Owner: tryphene
--

COPY public.engagements (id, proposal_id, project_id, client, status, current_phase_id, owner_id, kickoff, phases, next_action, activity, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: governance_records; Type: TABLE DATA; Schema: public; Owner: tryphene
--

COPY public.governance_records (id, project_id, engagement_id, documents, decisions, change_requests, meetings, approvals, activity, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: tryphene
--

COPY public.invoices (id, number, project_id, proposal_id, client, description, status, amount, paid, due_date, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: leads; Type: TABLE DATA; Schema: public; Owner: tryphene
--

COPY public.leads (id, organisation, industry, contact, email, phone, stage, budget, timeline, docs, goal, selected_phases, score, route, status, owner_id, client_id, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: tryphene
--

COPY public.payments (id, invoice_id, project_id, amount, paid_date, method, reference, notes, created_at) FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: tryphene
--

COPY public.projects (id, lead_id, client_id, name, stage, status, selected_phases, qualification, next_action, checklist, decisions, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: proposals; Type: TABLE DATA; Schema: public; Owner: tryphene
--

COPY public.proposals (id, number, lead_id, project_id, client, contact, email, goal, status, items, subtotal, discount, total, valid_days, assumptions, payment_terms, notes, approval, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: tryphene
--

COPY public.users (id, email, password_hash, name, role, active, created_at, updated_at) FROM stdin;
\.


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tryphene
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 1, false);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: change_orders change_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.change_orders
    ADD CONSTRAINT change_orders_pkey PRIMARY KEY (id);


--
-- Name: closeout_records closeout_records_pkey; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.closeout_records
    ADD CONSTRAINT closeout_records_pkey PRIMARY KEY (id);


--
-- Name: cms_documents cms_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.cms_documents
    ADD CONSTRAINT cms_documents_pkey PRIMARY KEY (key);


--
-- Name: engagements engagements_pkey; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.engagements
    ADD CONSTRAINT engagements_pkey PRIMARY KEY (id);


--
-- Name: governance_records governance_records_pkey; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.governance_records
    ADD CONSTRAINT governance_records_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_number_key; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_number_key UNIQUE (number);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: proposals proposals_number_key; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.proposals
    ADD CONSTRAINT proposals_number_key UNIQUE (number);


--
-- Name: proposals proposals_pkey; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.proposals
    ADD CONSTRAINT proposals_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_entity; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_audit_entity ON public.audit_log USING btree (entity_type, entity_id);


--
-- Name: idx_change_orders_project; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_change_orders_project ON public.change_orders USING btree (project_id);


--
-- Name: idx_closeout_project; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_closeout_project ON public.closeout_records USING btree (project_id);


--
-- Name: idx_closeout_status; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_closeout_status ON public.closeout_records USING btree (status);


--
-- Name: idx_engagement_project; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_engagement_project ON public.engagements USING btree (project_id);


--
-- Name: idx_engagement_status; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_engagement_status ON public.engagements USING btree (status);


--
-- Name: idx_governance_engagement; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_governance_engagement ON public.governance_records USING btree (engagement_id);


--
-- Name: idx_governance_project; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_governance_project ON public.governance_records USING btree (project_id);


--
-- Name: idx_invoices_project; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_invoices_project ON public.invoices USING btree (project_id);


--
-- Name: idx_leads_owner; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_leads_owner ON public.leads USING btree (owner_id);


--
-- Name: idx_leads_status; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_leads_status ON public.leads USING btree (status);


--
-- Name: idx_payments_invoice; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_payments_invoice ON public.payments USING btree (invoice_id);


--
-- Name: idx_projects_lead; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_projects_lead ON public.projects USING btree (lead_id);


--
-- Name: idx_proposals_lead; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_proposals_lead ON public.proposals USING btree (lead_id);


--
-- Name: idx_proposals_status; Type: INDEX; Schema: public; Owner: tryphene
--

CREATE INDEX idx_proposals_status ON public.proposals USING btree (status);


--
-- Name: audit_log audit_log_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: change_orders change_orders_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.change_orders
    ADD CONSTRAINT change_orders_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: change_orders change_orders_proposal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.change_orders
    ADD CONSTRAINT change_orders_proposal_id_fkey FOREIGN KEY (proposal_id) REFERENCES public.proposals(id) ON DELETE SET NULL;


--
-- Name: closeout_records closeout_records_engagement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.closeout_records
    ADD CONSTRAINT closeout_records_engagement_id_fkey FOREIGN KEY (engagement_id) REFERENCES public.engagements(id) ON DELETE SET NULL;


--
-- Name: closeout_records closeout_records_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.closeout_records
    ADD CONSTRAINT closeout_records_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: cms_documents cms_documents_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.cms_documents
    ADD CONSTRAINT cms_documents_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: engagements engagements_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.engagements
    ADD CONSTRAINT engagements_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: engagements engagements_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.engagements
    ADD CONSTRAINT engagements_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE SET NULL;


--
-- Name: engagements engagements_proposal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.engagements
    ADD CONSTRAINT engagements_proposal_id_fkey FOREIGN KEY (proposal_id) REFERENCES public.proposals(id) ON DELETE SET NULL;


--
-- Name: governance_records governance_records_engagement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.governance_records
    ADD CONSTRAINT governance_records_engagement_id_fkey FOREIGN KEY (engagement_id) REFERENCES public.engagements(id) ON DELETE SET NULL;


--
-- Name: governance_records governance_records_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.governance_records
    ADD CONSTRAINT governance_records_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: invoices invoices_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE SET NULL;


--
-- Name: invoices invoices_proposal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_proposal_id_fkey FOREIGN KEY (proposal_id) REFERENCES public.proposals(id) ON DELETE SET NULL;


--
-- Name: leads leads_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: leads leads_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: payments payments_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE CASCADE;


--
-- Name: payments payments_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE SET NULL;


--
-- Name: projects projects_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: projects projects_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id) ON DELETE SET NULL;


--
-- Name: proposals proposals_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.proposals
    ADD CONSTRAINT proposals_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id) ON DELETE SET NULL;


--
-- Name: proposals proposals_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tryphene
--

ALTER TABLE ONLY public.proposals
    ADD CONSTRAINT proposals_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 2Mp1GiRlAxpgoisXCJLrYJgy71N0t8uUSeGLyhswOjyVdvD9150vY8cOrTp6JGE

